{% extends 'index.html' %}
{% block title %}
	Panik Ztation
{% endblock %}
{% block style%}
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
{% endblock %}
{% block script %}
{% endblock %}
{% block content %}
	<div class="container">
  		<div class="row">
    		<div class="col-sm-4">
      			<img src="{{ url_for('static', filename='imgs/products/mug.png') }}">
    		</div>
		    <div class="col-sm-4">
    			<img src="{{ url_for('static', filename='imgs/products/white tshirt.png') }}" width="280" height="230">
    		</div>
    		<div class="col-sm-4">
      			<img src="{{ url_for('static', filename='imgs/products/bandana.png') }}" width="280" height="230">
    		</div>
  		</div>
	</div>
	<!--Seleccion de opciones-->
	<div class="container">
  		<div class="row">
    		<div class="col-sm-4">
    			<form action="/product_design/">
                    <input type="submit" style="background-color: rgb(53, 53, 102);" value="Diseña tu producto">
                </form>
    		</div>
    		<div class="col-sm-4">
    			<form action="/order/">
                    <input type="submit" style="background-color: rgb(53, 53, 102);" value="Ordena productos prediseñados">
                </form>
    		</div>
  		</div>
	</div>
{% endblock %}