h1{
    color: #F6E5E9;
    padding: 20px;
}

.contenedor{
	width: 100%;
	max-width: 1400px;
}

.main{
	width: 100%;
	align-items: center;
	text-align: center;
}

.t-shirt{
	width: 15%;
	height: 15%;
}

.footer{
    font-family:'Droid Sans Mono',monospace;
    font-size: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #4A1C40;
    color: #F6E5E9;
    text-align: center;
    padding-bottom: 0px;
}